# Pandas Series.shift

Pandas series is a One-dimensional ndarray with axis labels. The labels need not be unique but must be a hashable type. The object supports both integer- and label-based indexing and provides a host of methods for performing operations involving the index.

Pandas Series.shift() function shift index by desired number of periods with an optional time freq. When freq is not passed, shift the index without realigning the data.

**Syntax:** Series.shift(periods=1, freq=None, axis=0, fill_value=None)    

**Parameter :**     

* **periods :**  Number of periods to shift. Can be positive or negative.     

* **freq :**  Offset to use from the tseries module or time rule (e.g. ‘EOM’)   

* **axis :**  Shift direction.    

* **fill_value :**  The scalar value to use for newly introduced missing values    


**Returns :** Copy of input object, shifted.

**Example #1:** Use Series.shift() function to shift the data of the given Series object by 2 periods.

In [2]:
import pandas as pd

# Create the Series
sr = pd.Series(['New York', 'Chicago', 'Toronto', 'Lisbon', 'Rio', 'Moscow'])

# Create the Datetime Index
didx = pd.date_range(start='2014-08-01 10:00', freq='W', periods=6, tz='Europe/Berlin')

# Set the index
sr.index = didx

print(sr)

2014-08-03 10:00:00+02:00    New York
2014-08-10 10:00:00+02:00     Chicago
2014-08-17 10:00:00+02:00     Toronto
2014-08-24 10:00:00+02:00      Lisbon
2014-08-31 10:00:00+02:00         Rio
2014-09-07 10:00:00+02:00      Moscow
Freq: W-SUN, dtype: object

In [3]:
# shift by 2 periods 
sr.shift(periods = 2)

2014-08-03 10:00:00+02:00        None
2014-08-10 10:00:00+02:00        None
2014-08-17 10:00:00+02:00    New York
2014-08-24 10:00:00+02:00     Chicago
2014-08-31 10:00:00+02:00     Toronto
2014-09-07 10:00:00+02:00      Lisbon
Freq: W-SUN, dtype: object

As we can see in the output, the Series.shift() function has successfully shifted the data over the index. Notice the data corresponding to the last two indexes has been dropped.